BasedOnStyle: WebKit
IndentWidth: 4
ColumnLimit: 120
PointerAlignment: Right
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: WebKit
SpacesInAngles: false
SpaceBeforeParens: ControlStatements
AlwaysBreakTemplateDeclarations: Yes
SortIncludes: false